/* VARIABLES */

:root{
    /* --main-text-color : #fff; */
    --main-bg-color30c88f : #30C88F;
    --main-bg-color2d314d: #2D314D;
    --main-bg-color9597a5:#9597A5;
    /* --main-font-size : 16px; */
    --main-font-weight : 100;
    /* --main-line-height : 1.5; */
    --main-bg-color: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    
}
/* public-sans-100 - latin */
@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    src:
    url("../fonts/public-sans-v14-latin-100.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/public-sans-v14-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* public-sans-500 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/public-sans-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/public-sans-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */

*,
*::before,
*::after{
    box-sizing: inherit;
}


html{
    height: 100%;
    box-sizing: border-box;
}

img{
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Public Sans", "Arial", sans-serif;
    /* overflow-x: hidden; */
    /* font-size: 16px; */
    /* font-weight: 400; */
    /* line-height: var(--main-line-height); */
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */

.container{
    max-width: 1150px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.site-header{
    padding: 18px 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    margin-bottom: 28px;
    
}
.site-header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__list {
    display: flex;
    align-items: center;
    list-style: none;
}
.site-header__item {
    margin-right: 30px;
}
.navlink {
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: var(--main-bg-color9597a5);
    transition: 0.3s;
    
}
.navlink:hover{
    color: #2D314D;
    /* border-bottom: 4px solid linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);; */
}
.navlink:hover ::after{
    position: absolute;
    content: "";
    display: inline-block;
    background-image: var(--main-bg-color);
    top: calc(50% + 35.2px);
    left: calc(50% - 18px);
    margin-top: 28px;
    width: 100%;
    height: 4px;
}
.site-link {
    display: inline-block;
    padding: 8px 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    background: var(--main-bg-color);
    border-radius: 22px;
    text-decoration: none;
    transition: 0.3s;
}
.site-link:hover{
    opacity: 0.4;
}
/* STICKY-FOOTER */

.site-main{
    flex-grow: 1;
}
/* HERO-SECTION */

.inner__box {
    width: 447px;   
}
.inner__heading {
    margin: 0;
    margin-bottom: 24px;
    font-weight: var(--main-font-weight);
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--main-bg-color2d314d);
}
.inner__text {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: var(--main-bg-color9597a5);
}
.intro {
    position: relative;
}
.intro__inner {
    padding-top: 240px;
    padding-bottom: 170px;
    background: #F2F2F2;
}

.intro__box {
    background-image: url("../photos/bg-image.svg");
    position: absolute;
    top: calc(50% - 63%);
    left: calc(50% - 120px);
    width: 1391px;
    height: 1088px;
}
/* START CHOOSE-SECTION */

.choose {
    padding: 95px 0;
    background-color: #F4F5F7;
}
.choose__box {
    width: 635px;
    margin-bottom: 72px;
}
.choose__heading {
    margin: 0;
    margin-bottom: 16px;
    font-weight: var(--main-font-weight);
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: var(--main-bg-color2d314d);
}
.choose__text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: var(--main-bg-color9597a5);
}
.choose__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choose__item {
    width: 255px;
    display: block;
}
.choose__item::before {
    display: block;
    content: "";
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
}
.choose__item--card-item::before {
    background-image: url("../photos/card.svg");
}
.choose__item--cash-item::before {
    background-image: url("../photos/cash.svg");
}
.choose__item--people-item::before {
    background-image: url("../photos/people.svg");
}
.choose__item--plata-item::before {
    background-image: url("../photos/plata.svg");
}
.card-item__heading {
    margin: 0;
    margin-bottom: 26px;
    font-weight: var(--main-font-weight);
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: var(--main-bg-color2d314d);
}
.card-item__text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: var(--main-bg-color9597a5);
}
/* START SECTION-LATEST */
.latest {
    padding: 80px 0;
    background: #F2F2F2;
}
.latest__heading {
    display: block;
    margin: 0;
    margin-bottom: 40px;
}
.latest__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.latest__item {
    width: 255px;
    background: #FFFFFF;
    border-radius: 5px;
}
.latest__item::before {
    display: block;
    content: "";
    width: 255px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 25px;
}
.latest__list--many::before {
    background-image: url("../photos/many.jpg");
}
.latest__list--eat::before {
    background-image: url("../photos/eat.jpg");
}
.latest__list--air::before {
    background-image: url("../photos/air.jpg");
}
.latest__list--decorat::before {
    background-image: url("../photos/decorat.jpg");
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .latest__list--many::before {
        background-image: url("../photos/many2x.jpg");
    } 
    .latest__list--eat::before {
        background-image: url("../photos/eat2x.jpg");
    }
    .latest__list--air::before {
        background-image: url("../photos/air2x.jpg");
    }
    .latest__list--decorat::before {
        background-image: url("../photos/decorat2x.jpg");
    }
}
.latest__box {
    padding: 1px 24px 24px 24px;
}
.latest__minibox {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
}
.latest__headings {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: var(--main-font-weight);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: var(--main-bg-color2d314d);
}
.latest__texts {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: var(--main-bg-color9597a5);
}

/* FOOTER */

.site-footer {
    padding: 48px 0;
    background-color: #2D314D;
}
.site-footer__box {
    display: flex;
    justify-content: space-between;
}
.site-footer__left {
    display: flex;
}
.site-footer__logos {
    margin-right: 130px;
}
.site-footer__logo {
    margin-bottom: 55px;
}
.site-footer__list {
    display: flex;
    margin-top: 55px;
}
.site-footer__item {
    margin-right: 13px;
}
.site-footer__item:nth-child(5) {
    margin-right: 0;
}
.site-footer__link {
    display: block;
}
.site-footer--pack {
}
.pack__list {
    margin-right: 110px;
}
.pack--lists{
    margin-right: 0;
}
.pack__item {
    margin-bottom: 8px;
}
.pack__link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    text-decoration: none;
}
.site-footer__right {
}
.site-footer__right--box {
}
.site-link {
}
.site--links{
    margin-left: 56px;
}
.box {
    margin-top: 24px;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}